# requirements.txt
snowflake-snowpark-python
streamlit
requests
# Import python packages
import streamlit as pd
from snowflake.snowpark.context import get_active_session
from snowflake.snowpark.functions import col 
